{% extends "base.html" %}

{% block title %} Acerca del Proyecto {% endblock %}
{% block extra_css %}
<style>
    .gradient-border {
        position: relative;
        display: inline-block;
        padding: 12px 32px;
        border-radius: 9999px;
        font-weight: bold;
        font-size: 1.875rem; /* text-3xl */
        background-color: black;
    }

    .gradient-border::before {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        border-radius: 9999px;
        background: linear-gradient(90deg, #ff0080, #8000ff);
        z-index: -1;
    }
    .neon-button {
        position: relative;
        padding: 2.5rem;
        width: 15rem;
        height: 12rem;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    /*Sombras y efecto de luz en hover*/
    .neon-button:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgb(255, 255, 255);
    }

    /*Efecto de brillo*/
    .neon-button::before {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 70%);
        top: -50%;
        left: -50%;
        opacity: 0;
        transition: opacity 0.4s;
    }
    .neon-button:hover::before {
        opacity: 1;
    }

    /*Efecto de escaneo*/
    .neon-button::after {
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
        top: 0;
        left: -150%;
        transform: rotate(30deg);
        animation: scan-effect 3s linear infinite;
    }

    @keyframes scan-effect {
        0% { left: -150%; }
        100% { left: 150%; }
    }

    

    .bg-cyan { background: linear-gradient(45deg, #06b6d4, #2563eb); }
    .bg-purple { background: linear-gradient(45deg, #a855f7, #ec4899); }
    .bg-yellow { background: linear-gradient(45deg, #facc15, #ea580c); }

    @media (max-width: 768px) {
  .offset-up, .offset-down {
    transform: translateY(0); /* Sin desplazamiento en móviles */
  }

    .neon-button {
        width: 200px !important; /* Ajusta el ancho del botón en móviles */
        height: 10rem; /* Ajusta la altura del botón en móviles */
        padding: 10px; /* Ajusta el padding del botón en móviles */
    }

    .neon-button p{
        font-size: 1rem !important; /* Ajusta el tamaño de la fuente en móviles */
    }
}
</style>
{% endblock %}
{% block content %}
<h1 class="text-6xl font-bold text-center mt-12 tracking-widest">LightStep</h1>
<br>
<div class="flex justify-center space-x-20 mt-12">
            <a href="{% url 'proyecto' %}" class="neon-button bg-cyan">
                <p class="!text-white !text-3xl !font-bold !animate-bounce">¿Qué es este proyecto?</p>
            </a>
    
            <a href="{% url 'funcionamiento' %}" class="neon-button bg-purple">
                <p class="!text-white !text-3xl !font-bold !font-semibold !animate-bounce">¿Cómo funciona?</p>
            </a>
    
            <a href="{% url 'costos' %}" class="neon-button bg-yellow">
                <p class="!text-white !text-3xl !font-bold !font-semibold !animate-bounce">Planes</p>
            </a>
        </div>
    </div>
    <br>
<section class="mt-20 px-8 sm:px-16 lg:px-32">
    <h2 class="text-2xl font-bold inline-block px-8 py-3 shadow-lg bg-black gradient-border">
        ¿Por qué es importante?
    </h2>
    <div class="mt-6 max-w-3xl ml-auto mr-0">
        <p class="text-gray-300 text-[18px] font-bold leading-relaxed text-justify">
            En un mundo donde la automatización y la eficiencia energética son clave, nuestro sistema de iluminación inteligente para escaleras ofrece:
        </p>
        <ul class="mt-4 text-gray-300  list-disc pl-5">
            <p class="text-gray-300 font-bold flex items-center text-justify"><span class="w-4 h-4 bg-purple-500 rounded-full inline-block mr-2"></span>Seguridad: Reduce el riesgo de accidentes al iluminar automáticamente los escalones cuando detecta movimiento.</li>
            <p class="text-gray-300 font-bold flex items-center text-justify"><span class="w-4 h-4 bg-blue-500 rounded-full inline-block mr-2"></span>Eficiencia energética: Las luces solo se encienden cuando es necesario.</li>
            <p class="text-gray-300 font-bold flex items-center text-justify"><span class="w-4 h-4 bg-orange-500 rounded-full inline-block mr-2"></span>Innovación y confort: Transforma cualquier espacio en un entorno inteligente y moderno.</li>
        </ul>
    </div>
</section>

<section class="mt-20 px-8 sm:px-16 lg:px-32">
    <h2 class="text-2xl font-bold inline-block px-8 py-3 shadow-lg bg-black gradient-border ml-auto mr-10">
        Tecnologías utilizadas
    </h2>
    <div class="mt-6 max-w-3xl ml-auto mr-0">
        <p class="text-gray-300 font-bold text-justify">
            Para desarrollar un sistema eficiente y escalable, utilizamos herramientas modernas en hardware y software:
        </p>
        <ul class="mt-4 text-gray-300 text-lg leading-relaxed list-disc pl-5">
            <p class="text-gray-300 font-bold flex items-center text-justify"><span class="w-4 h-4 bg-purple-500 rounded-full inline-block mr-2"></span>Backend: Django para gestionar la lógica del sistema y la comunicación con la base de datos.</li>
            <p class="text-gray-300 font-bold flex items-center text-justify"><span class="w-4 h-4 bg-blue-500 rounded-full inline-block mr-2"></span>Frontend: Tailwind CSS y Django Templates para una interfaz web intuitiva y moderna.</li>
            <p class="text-gray-300 font-bold flex items-center text-justify"><span class="w-4 h-4 bg-orange-500 rounded-full inline-block mr-2"></span>Base de datos: Firebase para almacenar datos de configuración y uso del sistema.</li>
            <p class="text-gray-300 font-bold flex items-center text-justify"><span class="w-4 h-4 bg-pink-500 rounded-full inline-block mr-2"></span>Microcontrolador: ESP32 para la gestión de sensores y luces LED.</li>
            <p class="text-gray-300 font-bold flex items-center text-justify"><span class="w-4 h-4 bg-pink-500 rounded-full inline-block mr-2"></span>Aplicación móvil: Flutter para permitir el control remoto del sistema.</li>
        </ul>
    </div>
</section>
<section class="mt-20 px-8 sm:px-16 lg:px-32">
    <h2 class="text-2xl font-bold inline-block px-8 py-3 shadow-lg bg-black gradient-border">
        Nuestro enfoque
    </h2>
    <div class="mt-6 max-w-3xl ml-auto mr-0  ">
        <p class="text-gray-300 font-bold text-[18px] text-justify">
            Nos diferenciamos por nuestra visión de crear un producto que no solo sea funcional, sino también adaptable y personalizable a las necesidades de cada usuario:
        </p>
        <ul class="mt-4 text-gray-300  list-disc pl-5">
            <p class="text-gray-300 font-bold flex items-center text-justify"><span class="w-4 h-4 bg-purple-500 rounded-full inline-block mr-2"></span>Interfaz intuitiva y configuración sencilla a través de la app.</li>
            <p class="text-gray-300 font-bold flex items-center text-justify"><span class="w-4 h-4 bg-blue-500 rounded-full inline-block mr-2"></span>Algoritmos inteligentes que optimizan el encendido y apagado.</li>
            <p class="text-gray-300 font-bold flex items-center text-justify"><span class="w-4 h-4 bg-orange-500 rounded-full inline-block mr-2"></span>Ajuste de intensidad, colores y patrones de iluminación</li>
        </ul>
    </div>
</section>

<br>
<div class="flex justify-center items-center pt-8">
    <button class="btn" onclick="my_modal_5.showModal()">Términos y Condiciones de Uso</button>
    <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle bg-black bg-opacity-90">
    <div class="modal-box p-8">
        <h3 class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 shadow-lg text-center">
            Términos y Condiciones de Uso
        </h3>    
        <div class=" text-gray-400 text-justify font">
            <h5 class="text-white text-lg font-semibold">1. Introducción</h5>
            <ul> <li>Esta sección establece los términos y condiciones del sistema de iluminación inteligente “LightStep” que es funcional para escaleras y pasillos, incluyendo funcionamiento con sensores, la aplicación móvil y la base de datos. Al utilizar este sistema, el usuario acepta los siguientes términos y condiciones.</li></ul>

            <h5 class="text-white text-lg font-semibold">2. Descripción del Servicio</h5>
            <ul> <li>El sistema de iluminación inteligente está diseñado para optimizar el uso de energía mediante el encendido y apagado automático de luces según la detección de movimiento. Además permite ajustes personalizados en la configuración de las luces a través de la aplicación móvil, proporciona información detallada a través de la aplicación web y gestiona datos en una base de datos. </li></ul>

            <h5 class="text-white text-lg font-semibold">3. Uso y Requisitos del Sistema</h5>
            <ul class="list-disc pl-5">
                <li>Los sensores detectan movimiento en escaleras, pasillos y otras áreas designadas, permitiendo activarse progresivamente las luces sin retrasos.</li>
                <li>Las luces se apagan automáticamente tras un periodo de inactividad para reducir el consumo energético.</li>
                <li>El sistema debe responder en menos de 5 segundos tras la detección de movimiento.</li>
                <li>La aplicación web proporciona información detallada sobre el sistema, preguntas frecuentes y un formulario de contacto para soporte técnico.</li>
                <li>La aplicación móvil permite la sincronización de configuraciones entre dispositivos mediante almacenamiento en la nube.</li>
                <li>Todas las interfaces del sistema deben ser intuitivas y fáciles de usar.</li>
            </ul>

            <h5 class="text-white text-lg font-semibold">4. Responsabilidades del Usuario</h5>
            <ul class="list-disc pl-5">
                <li>El usuario debe asegurarse de la instalación adecuada del sistema según las instrucciones proporcionadas.</li>
                <li>Es responsabilidad del usuario mantener el sistema actualizado y realizar revisiones periódicas para garantizar su correcto funcionamiento.</li>
                <li>El usuario no debe modificar o manipular los componentes del sistema sin autorización, ya que esto podría afectar su funcionamiento.</li>
                <li>El sistema no garantiza un funcionamiento ininterrumpido ya que puede verse afectado por factores externos como cortes de energía, fallos en la conexión a internet, entre otros.</li>
            </ul>

            <h5 class="text-white text-lg font-semibold">5. Privacidad y Seguridad</h5>
            <ul class="list-disc pl-5">
                <li>La información del usuario será utilizada únicamente para la configuración y personalización del sistema.</li>
                <li>Se aplicarán medidas de seguridad para proteger los datos almacenados en la nube.</li>
                <li>No se compartirá información personal con terceros sin el consentimiento expreso del usuario.</li>
            </ul>

            <h5 class="text-white text-lg font-semibold">6. Garantía y Mantenimiento</h5>
            <ul class="list-disc pl-5">
                <li>El sistema cuenta con una garantía limitada contra defectos de fabricación por un período determinado de 365 días.</li>
                <li>La garantía no cubre daños causados por uso indebido, instalación incorrecta o modificaciones no autorizadas.</li>
                <li>Se recomienda realizar mantenimiento periódico del sistema, incluyendo limpieza de sensores y revisión de conexiones eléctricas, para garantizar su correcto funcionamiento.</li>
            </ul>

            <h5 class="text-white text-lg font-semibold">7. Modificaciones y Actualizaciones</h5>
            <ul> <li>Los términos y condiciones pueden ser actualizados en cualquier momento para reflejar mejoras o cambios en el sistema. Se notificará a los usuarios sobre modificaciones relevantes.</li></ul>

            <h5 class="text-white text-lg font-semibold">8. Contacto y Soporte</h5>
            <ul><li>Para consultas, soporte técnico o información adicional, el usuario puede comunicarse a través del formulario de contacto disponible en la aplicación web o en la aplicación móvil.</li></ul>
        </div>

        <div class="flex justify-end mt-4">
            <div class="m-2 p-[0.5px] bg-gradient-to-r from-purple-500 to-pink-500 rounded-lg">
                <form method="dialog">
                    <button class="btn text-white !bg-black rounded-lg p-1 pl-4 pr-4 mask mask-squircle hover:bg-gradient-to-br from-purple-500 to-pink-500">
                        Cerrar
                    </button>
                </form>
            </div>
        </div>
    </div>
    </dialog>
</div>

<br><br><br><br><br>

{% endblock %}