{% extends 'base.html' %}

{% block title %} Funcionamiento {% endblock %}

{% block extra_css %}

<style>
  body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 480px) {
    #planos {
      width: 50%;
    }
    .tracking-widest{
      font-size: 1.5rem !important;
    }

    .items-inst {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
    }
  }
</style>
{% endblock %}
  
{% block content %} 
  {% load static %}

  <!-- Header Section -->
  <div class="p-4 rounded-3xl shadow-lg w-full mx-auto flex items-center justify-center animate__animated" id="planos">
    <h3 class="text-6xl font-bold text-center -mt-7 tracking-widest">¿Cómo funciona <br> LightStep?</h3>
    <img src="{% static 'img/LS.png'%}" alt="LightStep Logo" class="w-[500px] sm:w-[500px] md:w-[400px] h-auto rounded-4xl justify-right">
  </div>

  <script>
    const h1Element = document.getElementById("planos");
    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("animate__backInLeft");
          observer.unobserve(entry.target);
        }
      });
    }, { threshold: 0.5 });
    observer.observe(h1Element);
  </script>

  <br><br><br>

  <!-- Steps Section -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 text-center text-white max-w-5xl mx-auto items-inst">
    
    <div class="m-2 p-[0.5px] bg-gradient-to-r from-purple-500 to-pink-500 rounded-lg recuadro">
      <div class="p-4 rounded-lg mx-auto animado bg-black">
        <div class="w-40 h-40 rounded-full overflow-hidden mx-auto">
          <img src="{% static 'img/1.png' %}" alt="Imagen 1" class="w-full h-full object-cover">
        </div>
        <p class="mt-4 text-sm sm:text-base font-bold leading-relaxed text-gray-300">Primero LightStep deberá ser instalado en el lugar deseado. <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </div>
    </div>
    <!-- mt-4 text-gray-300 text-lg leading-relaxed list-disc pl-5 -->
    <div class="m-2 p-[0.5px] bg-gradient-to-r from-purple-500 to-pink-500 rounded-lg recuadro">
      <div class="p-4 rounded-lg mx-auto animado bg-black">
        <div class="w-40 h-40 rounded-full overflow-hidden mx-auto">
          <img src="{% static 'img/2.png' %}" alt="Imagen 2" class="w-full h-full object-cover">
        </div>
        <p class="mt-4 text-sm sm:text-base font-bold leading-relaxed text-gray-300">LightStep deberá conectarse a la app para empezar a funcionar y también donde se va a iniciar sesión.</p>
      </div>
    </div>

    <div class="m-2 p-[0.5px] bg-gradient-to-r from-purple-500 to-pink-500 rounded-lg recuadro">
      <div class="p-4 rounded-lg mx-auto animado bg-black">
        <div class="w-40 h-40 rounded-full overflow-hidden mx-auto">
          <img src="{% static 'img/3.png' %}" alt="Imagen 3" class="w-full h-full object-cover">
        </div>
        <p class="mt-4 text-sm sm:text-base font-bold leading-relaxed text-gray-300">Este se podrá activar y desactivar, dependiendo de las necesidades. <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </div>
    </div>

    <div class="m-2 p-[0.5px] bg-gradient-to-r from-purple-500 to-pink-500 rounded-lg recuadro">
      <div class="p-4 rounded-lg mx-auto animado bg-black">
        <div class="w-40 h-40 rounded-full overflow-hidden mx-auto">
          <img src="{% static 'img/4.png' %}" alt="Imagen 4" class="w-full h-full object-cover">
        </div>
        <p class="mt-4 text-sm sm:text-base font-bold leading-relaxed text-gray-300">Las luces podrán tener mayor personalización para los gustos de cada usuario.</p>
      </div>
    </div>

    <div class="m-2 p-[0.5px] bg-gradient-to-r from-purple-500 to-pink-500 rounded-lg recuadro">
      <div class="p-4 rounded-lg mx-auto animado bg-black">
        <div class="w-40 h-40 rounded-full overflow-hidden mx-auto">
          <img src="{% static 'img/5.png' %}" alt="Imagen 5" class="w-full h-full object-cover">
        </div>
        <p class="mt-4 text-sm sm:text-base font-bold leading-relaxed text-gray-300">En el apartado del perfil podrás ver mayor información sobre tus preferencias con el producto.</p>
      </div>
    </div>

    <div class="m-2 p-[0.5px] bg-gradient-to-r from-purple-500 to-pink-500 rounded-lg recuadro">
      <div class="p-4 rounded-lg mx-auto animado bg-black">
        <div class="w-40 h-40 rounded-full overflow-hidden mx-auto">
          <img src="{% static 'img/6.png' %}" alt="Imagen 6" class="w-full h-full object-cover">
        </div>
        <p class="mt-4 text-sm sm:text-base font-bold leading-relaxed text-gray-300">LightStep podrá usarse en el lugar que quieras.<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </div>
    </div>

  </div>

  <br><br><br><br><br><br><br>

  <script>
    const elementos = document.querySelectorAll(".animado");
    elementos.forEach((elemento) => {
      elemento.addEventListener("mouseenter", () => {
        elemento.classList.add("animate_animated", "animate_heartBeat");
      });
      elemento.addEventListener("mouseleave", () => {
        elemento.classList.remove("animate_animated", "animate_heartBeat");
      });
    });
  </script>

{% endblock %}

{% block extra_js %}
{% endblock %}