{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}
<!-- <p>Resultado exitoso 0</p>  Aquí es donde aparece el contenido principal de esta página -->
{% endblock %}

<!-- {% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto Django</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <header class="text-blue-600 text-4xl">¡Hola, Tailwind!</header>
    <button class="btn btn-primary mt-4">Botón DaisyUI</button>
</body>
</html> -->



